@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;500;600&family=Raleway:wght@100;200;300;400;500;600;700;800&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1f1f38;
  margin: 0;
  padding: 0;
  line-height: 1.9rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 0.9rem;
}
